body {
    margin: 0 auto;
    padding: 10px;
}

.list-style:hover {
 background-color: lightgrey;
}

.list-style {
    background-color:purple;
    color: white;
    border:3px solid white; 
    border-radius: 5px;
    width: 100%;
    text-align: left;
}